body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* align-items: center; */
}

/* p, h1, h3, button {
    flex-shrink: 1;
} */
/* background color*/


/* .header::before {
    background-color: #1F2937;
    content: "";
    height: 100%;
    z-index: -1;
    left: -20vw;
    width: 200vw;
} */
/* .header::before {
    background-color: #1F2937;
    content:"";
    height: 100%;
    width: 100%;
} */

.wrapper {
    background-color: #1F2937;
}

.header {
    display: flex;
    width: 1100px;
    margin: 8px auto;
    
    flex-direction: row;
    /* padding: 8px 400px; */
    justify-content: space-between;
    /* width: 80%; */
}

.header h1 {
    font-size: 20px;
    margin: 0;
    color: #F9FAF8;
}

.header .links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 18px;
}

.links a {
    color: #E5E7EB;
    text-decoration: none;
}

.start-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding: 80px 200px; */
    width: 1100px;
    margin: 80px auto;
    gap: 40px;
}

.description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0px;
    width: 50%;
}

.description h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.description button {
    width: 120px;
    height: 35px;
    background-color: #3882F6;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    color: #F9FAF8;
    font-size: 17px;
    font-weight: 900;
}

.description p {
    color: #F9FAF8;
}

.placehold-img{
    display: flex;
    background-color: #6d747d;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #F9FAF8;
}

.information-section {
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;    
    margin: 60px auto 150px auto;
    /* padding: 0px 400px; */
    gap: 70px;
}

.information-section h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 800;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.card {
    width: 200px;
}

.card img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border-color: #3882F6;
    border-style: solid;
    border-width: 5px;
}

.card p{
    text-wrap: wrap;
}

.testimonial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 950px;
    /* padding: 0px 400px; */
    /* padding: 150px 0 100px 0; */
    margin: 150px auto 100px auto;
}

.wrapper2 {
    background-color: #E5E7EB;
}


.testimonial-section .quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
    margin: 0;
}

.testimonial-section .attribute {
    font-weight: 600;
    font-size: 25px;
    margin-left: auto;
}

.box {
    display: flex;
    flex-direction: row;
    margin: 100px auto;
    width: 1200px;
    height: 200px;
    border-radius: 10px;
    background-color: #3882F6;
    justify-content: space-around;
    align-items: center;
}

.box h3 {
    margin: 0;
    color: #F9FAF8;
}

.box p {
    margin: 0;
    color: #F9FAF8
}

.box button{
    border-color: #F9FAF8;
    background-color: #3882F6;
    border-width: 3px;
    border-radius: 8px;
    width: 130px;
    height: 40px;
    color: #F9FAF8;
    font-size: 20px;
    border-style:solid;
}

button {
    cursor:grab;
}

.wrapper3 {
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: center;
    align-self: center;
}

.footer p {
    color: #F9FAF8;
    margin: 0;
    text-align: center;
    align-self: center;
}