body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* align-items: center; */
}
/* background color*/
.header, .start-section {
    background-color: #1F2937;
}


/* .header::before {
    background-color: #1F2937;
    content: "";
    height: 100%;
    z-index: -1;
    left: -20vw;
    width: 200vw;
} */
/* .header::before {
    background-color: #1F2937;
    content:"";
    height: 100%;
    width: 100%;
} */

.header {
    display: flex;
    flex-direction: row;
    padding: 8px 400px;
    justify-content: space-between;
    /* width: 80%; */
}

.header h1 {
    font-size: 20px;
    margin: 0;
    color: #F9FAF8;
}

.header .links {
    display: flex;
    flex-direction: row;
    gap:6px;
    font-size: 18px;
}

.links a {
    color: #E5E7EB;
    text-decoration: none;
}

.start-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 80px 200px;
}

.description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35%;
    padding: 20px;
}

.description h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.description button {
    width: 120px;
    height: 35px;
    background-color: #3882F6;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    color: #F9FAF8;
    font-size: 17px;
    font-weight: 900;
}

.description p {
    color: #F9FAF8;
}

.placehold-img{
    display: flex;
    background-color: #6d747d;
    justify-content: center;
    align-items: center;
    width: 35%;
    color: #F9FAF8;
}

.information-section {
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 400px;
    gap: 70px;
    margin-top: 50px;
    margin-bottom: 150px;
}

.information-section h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 800;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.card {
    width: 200px;
}

.card img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border-color: #3882F6;
    border-style: solid;
    border-width: 5px;
}

.card p{
    text-wrap: wrap;
}

.testimonial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 400px;
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: #E5E7EB;
}


.testimonial-section .quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
    margin: 0;
}

.testimonial-section .attribute {
    font-weight: 600;
    font-size: 25px;
    margin-left: auto;
}

.box {
    display: flex;
    flex-direction: row;
    margin: 100px auto;
    width: 1200px;
    height: 200px;
    background-color: #3882F6;
    justify-content: space-around;
    align-items: center;
}

.box h3 {
    margin: 0;
    color: #F9FAF8;
}

.box p {
    margin: 0;
    color: #F9FAF8
}

.box button{
    border-color: #F9FAF8;
    background-color: #3882F6;
    border-width: 3px;
    border-radius: 8px;
    width: 130px;
    height: 40px;
    color: #F9FAF8;
    font-size: 20px;
    border-style:solid;
}

button {
    cursor:grab;
}


.footer {
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.footer p {
    color: #F9FAF8;
    margin: 0;
    text-align: center;
    align-self: center;
}